<mat-card class="animal-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title class="animal-name">{{pet.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="animal photo">
  <mat-card-content>
    <p>Gender: {{pet.gender}}</p>
    <p>Breed: {{pet.breed}}</p>
    <p>Age: {{pet.age}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-container">
    <button mat-flat-button>Show more</button>
  </mat-card-actions>
</mat-card>
