@import '../../shared/styles/variables.scss';

.animal-card {
  max-width: 300px;
  background-color: $secondary-background-color;

  .animal-name {
    font-weight: bold;
  }

  .actions-container {
    display: flex;
    justify-content: center;

    .show-more-button {
      background-color: $button-background-color;
      color: $button-text-color;
    }
  }

  .animal-img {
    height: 298px;
    width: 298px;
    object-fit: cover;
  }
}
