@import '../../shared/styles/variables.scss';

.animal-card {
  max-width: 300px;
  color: black;
  background-color: #FFFFF0;

  .animal-name {
    font-weight: bold;
  }

  .actions-container {
    display: flex;
    justify-content: center;

    .show-more-button {
      background-color: #FFD700;
    }
  }

  .animal-img {
    height: 298px;
    width: 298px;
    object-fit: cover;
  }
}
