<div class="container">
  <div class="grid-container">
    <div class="name">{{ animalData.name | titlecase }}</div>
    <div class="media">
      <div>
        <img src="https://www.carecredit.com/sites/cc/image/article_hero_lab_retriever.jpg" alt="pet photo">
      </div>
      <div>
        <img
          src="https://www.orchardroadanimalhospital.com/sites/default/files/styles/large/public/labrador-retriever-dog-breed-info.jpg?itok=94ahwDa9"
          alt="pet photo">
      </div>
      <div>
        <img
          src="https://plus.unsplash.com/premium_photo-1683134036144-82b0a3d50f11?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bGFicmFkb3IlMjByZXRyaWV2ZXJ8ZW58MHx8MHx8fDA%3D"
          alt="pet photo">
      </div>
    </div>
    <div class="description">Meet {{ animalData.name | titlecase }}, a lovable {{ animalData.age }}-old {{ animalData.breed | titlecase }}
      looking for a forever home! With a gentle nature and a heart full of love,
      {{ animalData.name | titlecase }} enjoys playing fetch and cuddling on the couch.
      {{ animalData.name | titlecase }} thrives on companionship and loves being around people. Whether it’s going for
      long walks, exploring new
      places, or simply lounging at home, {{ animalData.gender === "male" ? "him" : "her" }} will be your loyal friend.
      With a loving heart and a playful spirit,
      {{ animalData.name | titlecase }} is ready to bring joy and warmth into your life. Adopt today and
      give {{ animalData.gender === "male" ? "him" : "her" }} a second
      chance! 🐾❤️
    </div>
    <div class="medical-info">
      <div>Animal ID: 10189532</div>
      <div>Species: {{ animalData.species | titlecase }}</div>
      <div>Breed: {{ animalData.breed | titlecase }}</div>
      <div>Age: {{ animalData.age }}</div>
      <div>Sex: {{ animalData.gender | titlecase }}</div>
      <div>Size: {{ animalData.size }}</div>
      <div>Spayed/Neutered: {{ animalData.spayedOrNeutered ? 'Yes' : 'No' }}</div>
      <div>Intake Date: 01/10/2025</div>
      <div>On Hold: {{ animalData.onHold ? 'Yes' : 'No' }}</div>
    </div>
    <div class="action-button">
      @if (showAdoptButton) {
        <button mat-stroked-button (click)="makeAdoption()">Adopt Me!</button>
      }
    </div>
  </div>
</div>
