<div class="container">
  <div class="grid-container">
    <div class="name">{{ animalData.name }}</div>
    <div class="media">
      <div>
        <img src="https://www.carecredit.com/sites/cc/image/article_hero_lab_retriever.jpg" alt="pet photo">
      </div>
      <div>
        <img
          src="https://www.orchardroadanimalhospital.com/sites/default/files/styles/large/public/labrador-retriever-dog-breed-info.jpg?itok=94ahwDa9"
          alt="pet photo">
      </div>
      <div>
        <img
          src="https://plus.unsplash.com/premium_photo-1683134036144-82b0a3d50f11?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bGFicmFkb3IlMjByZXRyaWV2ZXJ8ZW58MHx8MHx8fDA%3D"
          alt="pet photo">
      </div>
    </div>
    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet condimentum
      augue, sed vestibulum libero. Mauris sagittis massa quis ex porta, quis consequat ipsum vehicula. Ut facilisis dui
      eu dolor consectetur, ut aliquet velit bibendum. Aenean aliquam felis sit amet varius faucibus. Pellentesque et
      laoreet dui, eu bibendum sem. Phasellus in tempus purus. Phasellus pretium purus quis nibh fringilla faucibus.
      Maecenas in euismod sem. Duis vitae sollicitudin ante, eget fermentum dui. Pellentesque habitant morbi tristique
      senectus et netus et malesuada fames ac turpis egestas. Vestibulum vel efficitur nisi. Mauris at molestie odio.
      Praesent ut tincidunt nisl, sed tempus ante.

      In at quam vel velit suscipit eleifend. Nulla lacus ligula, consequat non tristique ut, imperdiet eu leo. Aenean
      dapibus urna quis risus porttitor rhoncus. In vulputate lectus fermentum sem accumsan venenatis. Aliquam feugiat
      rhoncus faucibus. Aliquam feugiat id augue et pharetra. Maecenas posuere bibendum diam, a imperdiet tortor
      convallis ac.

      Nullam a nibh dolor. Mauris vitae erat volutpat, mattis ex quis, consectetur metus. Curabitur efficitur mattis
      eros, et fermentum magna tempor sit amet. Nam aliquam ex eu velit vehicula finibus. Cras congue nisi sed auctor
      scelerisque. Curabitur tempus, eros vel lacinia posuere, mauris orci dictum metus, sit amet pellentesque ligula.
    </div>
    <div class="medical-info">
      <div>Animal ID: {{ animalData.animalId }}</div>
      <div>Species: {{ animalData.species | titlecase }}</div>
      <div>Breed: {{ animalData.breed }}</div>
      <div>Age: {{ animalData.age }}</div>
      <div>Sex: {{ animalData.gender | titlecase }}</div>
      <div>Size: {{ animalData.size }}</div>
      <div>Spayed/Neutered: {{ animalData.spayedOrNeutered ? 'Yes' : 'No' }}</div>
      <div>Intake Date: {{ animalData.intakeDate }}</div>
      <div>On Hold: {{ animalData.onHold ? 'Yes' : 'No' }}</div>
    </div>
    <div class="action-button">
      @if (showAdoptButton) {
        <button mat-stroked-button (click)="makeAdoption()">Adopt Me!</button>
      }
    </div>
  </div>
</div>
