@if (isLoading()) {
  <div class="spinner-container">
    <mat-spinner/>
  </div>
}
<div class="filters-container">
  <form [formGroup]="filtersForm">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input type="text" matInput formControlName="searchForNameAndBreed" placeholder="Name/Breed">
    </mat-form-field>
    <label id="species-radio-group-label">Filter by species:</label>
    <mat-radio-group aria-labelledby="species-radio-group-label" formControlName="species">
      <mat-radio-button value="">All</mat-radio-button>
      <mat-radio-button value="Dog">Dog</mat-radio-button>
      <mat-radio-button value="Cat">Cat</mat-radio-button>
    </mat-radio-group>
    <label id="gender-radio-group-label">Filter by gender:</label>
    <mat-radio-group aria-labelledby="gender-radio-group-label" formControlName="gender">
      <mat-radio-button value="">All</mat-radio-button>
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
    </mat-radio-group>
  </form>
</div>
<div class="cards-grid-container">
  @for (petData of animals(); track petData) {
    <div>
      <app-card [petData]="petData"></app-card>
    </div>
  }
  <div #scrollAnchor class="scroll-anchor"></div>
</div>

