<div class="app-container">
  <header>
    <div>
      <mat-toolbar class="header">
        <h1>HopeTails</h1>
      </mat-toolbar>
    </div>
  </header>
  <main class="main">
        <div class="cards-grid-container">
          <div>
            <app-card></app-card>
          </div>
          <div>
            <app-card></app-card>
          </div>
          <div>
            <app-card></app-card>
          </div>
          <div>
            <app-card></app-card>
          </div>
          <div>
            <app-card></app-card>
          </div>
          <div>
            <app-card></app-card>
          </div>
          <div>
            <app-card></app-card>
          </div>
          <div>
            <app-card></app-card>
          </div>
          <div>
            <app-card></app-card>
          </div>
          <div>
            <app-card></app-card>
          </div>
        </div>
    <app-detailed-page></app-detailed-page>
  </main>
  <footer>
    <div>
      <mat-toolbar class="footer">
        <span>Contact us!</span>
      </mat-toolbar>
    </div>
  </footer>
</div>
