@import './shared/styles/variables.scss';

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $background-color;

  .header-container {
    position: sticky;
    inset: 0 0;
    background-color: #cb3741;
    font-weight: bold;
    flex-grow: 1;

    .header {
      color: $white-color;
      cursor: pointer;
    }
  }

  .main {
    padding: 1.5rem;
    flex-grow: 5;
    display: grid;
    color: #333333;
  }

  .footer {
    position: sticky;
    inset: 0 auto auto 10px;
    background-color: #182026;
    flex-grow: 1;
    color: $white-color;
  }
}

