@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$spring-green-palette,
      tertiary: mat.$red-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
